﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
<link rel="stylesheet" href="~/css/site.css" />




<div class="row">

   

    <div class=" col-3">
            
        <h2>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalid">Show Statistics</button>
        </h2>
    </div>
    <div class=" col-6">
        <div id="mapid" style="height:600px;width:600px;">


        </div>
    </div>
    <div class=" col-3"></div>

</div>



<div class="modal" id="modalid">
    <div class="modal-header col-6">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Statistics Covid in Mexico</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">State</th>
                    <th scope="col">Cured</th>
                    <th scope="col">deceased</th>
                    <th scope="col">infected</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mexico</td>
                    <td>445345</td>
                    <td>345435</td>
                    <td>676768</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Hidalgo</td>
                    <td>9865567</td>
                    <td>78978</td>
                    <td>63784</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Durango</td>
                    <td>54233</td>
                    <td>345556</td>
                    <td>78979</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Oaxaca</td>
                    <td>546456</td>
                    <td>546888</td>
                    <td>32342</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="~/js/Map.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#modalid').modal('show');
    });
</script>